[Unit]
Description=TUXEDO Hardware Daemon
After=dbus.service
Requires=dbus.service

[Service]
Type=dbus
BusName=com.tuxedo.Daemon
ExecStart=/usr/bin/tuxedo-daemon
Restart=on-failure
RestartSec=2s
WatchdogSec=30s
NotifyAccess=main

[Install]
WantedBy=multi-user.target
